@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2p';
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #2D588F;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'Press Start 2p';
    font-size: 40px;
}

.main-title h1 {
    font-size: 700px;
}

.logo {
    height: 300px;
}

.top-container {
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    margin-bottom: 100px;
}

.div-btn {
    border: 4px solid;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-top-color: #c9c9c9;
    border-left-color: #c9c9c9;
    border-right-color: #2b2b2b;
    border-bottom-color: #2b2b2b;
    width: 250px;
    height: 60px;
}

.btn-custom {
    font-family: 'Press Start 2p';
    margin: 0 !important;
    width: 250px;
    background: linear-gradient(90deg, #469299 0%, #2D588F 100%);
    color: white;
    border-radius: 0px;
    border: 3px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #2b2b2b;
    border-bottom-color: #2b2b2b;
    font-size: 20px;
    height: 60px;
}

.btn-custom:hover {
    background: linear-gradient(90deg, #51a8b0 0%, #376aad 100%);
    color: white;
    border: 3px solid;
    border-top-color: #8d8d8d;
    border-left-color: #8d8d8d;
    border-right-color: #000000;
    border-bottom-color: #000000;
}

.footer {
    text-align: center;
    width: 100%;
    font-weight: bold;
    transition: 1s;
    width: 100%;
    height: 60px;
    bottom: 0;
}

.designer {
    color: #015941;
}